[include]
  path = .gitconfig.local
[color]
	ui = true
	status = auto
	branch = auto
[alias]
	co = checkout
	st = status
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[core]
	editor = nvim
	pager = delta
	excludesFile = ~/.gitignore
[credential]
	helper = cache --timeout 21600
	credentialStore = cache
[pull]
	rebase = false
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = true
  hunk-header-style = omit
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
