[user]
  name = Martini Luca
  email = l.martini@nwgenergia.it
  github = lucamartini
[color]
	ui = true
	status = auto
	branch = auto
[alias]
	co = checkout
	st = status
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[core]
	editor = nvim
	pager = delta
	excludesFile = ~/.gitignore
  ignoreCase = false
[credential]
	helper = cache --timeout 21600
	credentialStore = cache
[pull]
	rebase = false
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = true
  hunk-header-style = omit
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
	tool = nvimdiff
[difftool]
	prompt = false
